/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

body {
   background-image: url('.idea/img/Coffee.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;

}
